.label {
  @apply .mb-2 .text-lg .text-grey-darkest
}

.thick-border {
  @apply .border-2 .border-black;
}

.form-control {
  @apply .border .shadow .border-black .border-2 .bg-white .text-lg .py-2 .px-3 .text-grey-darkest;
}


.form-group {
  @apply .flex .flex-col .mb-4
}

.tag-label {
  @apply .py-2 .px-2 .bg-black .font-bold .text-white .flex .items-center .justify-center .uppercase;
}

.btn {
  @apply .shadow .flex .flex-col .items-center .justify-center .text-lg .font-bold .p-2 .cursor-pointer .border-2 .border-black;

  transition: border 0.2s ease-in-out;
}

// .btn-black {
//   @apply .bg-grey-dark .text-white .text-xl;
// }

.btn-white {
  @apply .bg-white .text-xl;
}

// .btn-border-black {
//   @apply .border-2 .border-black
// }

.header-black {
  @apply .py-2 .px-2 .bg-black .font-bold .text-white;
}


.btn:hover {
  @apply .bg-grey-dark .text-white;
}

.disabled {
  opacity: 0.5;
}

.btn-disabled {
  @apply .disabled;
}

.btn-disabled:hover {
  @apply .bg-white .text-black;

}

.btn-lg {
  @apply .p-3;
}

.bare {
  @apply .font-bold .py-2 .px-4 .border-2 .border-black;
}

.link {
  @apply  .link .no-underline;
  transition: border 0.2s ease-in-out;
  border-bottom: 2px solid transparent;
}

.link:hover {
  border-color: config('colors.black');
}

.nav-link {
  color: #6a566b;
}

.nav-link.selected {
  @apply .bg-grey-light;
}

.sub-link {
  @apply .m-2 .p-2;
}

.sub-link-selected {
  @apply .sub-link .bg-grey-light;
}

.shadow {
  box-shadow: config('colors.black') 0.2rem 0.2rem;
}



// .sub-link:hover {
//   @apply .bg-grey-dark .text-white;
// }

// .nav-link:hover, .sub-link:hover {
//   @apply .bg-grey-dark;
//   a {
//     @apply .text-white;
//   }
// }

.tag-btn {
  @apply .font-bold .py-2 .px-2 .border-2 .bg-grey-light;
}


.btn-black {
  @apply .bg-grey-dark .text-white;
}

.btn-black:hover {
  @apply .bg-grey-dark;
}

.list-item {
  @apply .mb-3 .p-2 .text-xl .cursor-pointer
}

.list-item.active {
  @apply .bg-grey-light;
}

.alert {
}


.truncate-text {
  min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// .list-item.active {
//   @apply .bg-grey-dark;
// }
