.content-margin {
  // @extend .m-3;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 60px !important;
  //TODO: change
  padding: 5%;
  // @apply .p-20;
}


.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


