.btn {
    @apply .flex .flex-col .items-center .justify-center .font-bold .p-2 .border-2 .border-grey-darkest .cursor-pointer;
}

.bare-btn {
  @apply .font-bold .py-2 .px-4 .border-2 .bg-grey-light;
}

.btn:hover {
  @apply .bg-grey-dark .text-white;
}

.btn-black {
    @apply .bg-black .text-white;
}

.btn-black:hover {
  @apply .bg-grey-dark;
}


.content-margin {
  // @extend .m-3;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 60px !important;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  // @apply .p-20;
}

.label {
  @apply .mb-2 .text-lg .text-grey-darkest
}

.form-control {
  @apply .border .py-2 .px-3 .text-grey-darkest
}

.form-group {
  @apply .flex .flex-col .mb-4
}

h4 {
  @apply .font-semibold .mb-2
}
