
.flexbox {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.flexItem  {
  height: 100%;
  width: 100%;
  flex: 1;
  overflow: hidden;

  // transition: all 0ms linear;
}



.newItem {
  /* 0 does not work so we have to use a small number */
  /* Start our small */
  flex: .00001;

  // background: green;

  animation: flexGrow 500ms ease forwards;
}

.removeItem {
  flex: 1;

  // background: blue;
  animation: flexShrink 500ms ease forwards;
  transform: translateX(-100vw);
  transition: 1s transform;
}

@-webkit-keyframes flexGrow {
  to {
    flex: 1;
  }
}
@-o-keyframes flexGrow {
  to {
    flex: 1;
  }
}
@keyframes flexGrow {
  to {
    flex: 1;
  }
}

@keyframes flexShrink {
  to {
    flex: .01;
    flex: .00001;
  }
}

